{% extends "templates/base.twig" %}
{% import "components/macros.twig" as macros %}
{#
 # Created by PhpStorm.
 # User: manus
 # Date: 25/02/16
 # Time: 11:00
 #}
{% block title %}Administracion - Usuarios{% endblock %}
{% block body %}
    <a href="/admin/modules" class="btn btn-default"><i class="fa fa-chevron-left"></i> Volver</a>
    <div class="row">
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Información básica
                {% endblock %}
                {% block content %}
                    <table class="table">
                        <tr>
                            <th>Titulo</th>
                            <td>{{ this.module.title }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ this.module.description }}</td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td><label class="label label-success">{{ this.module.version | default("-") }}</label></td>
                        </tr>
                        <tr>
                            <th>Ruta</th>
                            <td><code>{{ this.module.getDirectory() }}</code></td>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <td>
                                {% if module.isEnabled() %}
                                    <span class="label label-success">Activado</span>
                                {% else %}
                                    <span class="label label-danger">Desactivado</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Controladores
                {% endblock %}
                {% block content %}
                    Ruta base: <b>{{ this.module.getDirectory() }}</b>
                    <table class="table">
                        <tr>
                            <th>Clase</th>
                            <th>Archivo</th>
                            <th>Ruta</th>
                        </tr>
                        {% for class, file in this.module.controllers %}
                            <tr>
                                <td>{{ class }}</td>
                                <td>{{ file }}</td>
                                <td>{{ this.getLink(class) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Dependencias
                {% endblock %}
                {% block content %}
                    {% set mod = this.getModuleInManager(this.module) %}
                    {{ this.module.title }}
                    {% if mod %}
                    {{ macros.dependency_tree(manager.getModulesDependencyTree(mod)) }}
                    {% else %}
                    <div class="alert alert-info">El módulo tiene que estar activo para poder ver las dependencias</div>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Ajustes
                {% endblock %}
                {% block content %}
                    <form method="post" name="config" enctype="multipart/form-data">
                        {% set module_config = this.getModuleConfiguration(mainconfig, this.module) %}
                        {% for setting in this.module.getModuleSettings() %}
                            {{ macros.settings(setting, module_config) }}
                        {% endfor %}
                        <button type="submit" class="btn btn-default" name="save">Guardar</button>
                    </form>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
