{% extends "templates/base.twig" %}
{# 
 # Created by PhpStorm.
 # User: manus
 # Date: 24/02/16
 # Time: 13:49
 #}
{% block title %}Administracion Internal{% endblock %}
{% block body %}

    <div class="row dashboard">
        <div class="col-md-4">
            <div class="wrapper">

                {% embed "templates/box.twig" with {type: 'info'} %}
                    {% block title %}Adminsitrar usuarios{% endblock %}
                    {% block content %}
                        {% include "dashboard/users.twig" %}
                    {% endblock %}
                    {% block footer %}
                        <a class="pull-right" href="{{ this.getLink('GLFramework\\Modules\\Admin\\users') }}">Adminsitrar usuarios <i class="fa fa-arrow-circle-right"></i></a>
                        <div class="clearfix"></div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="wrapper">
            {% embed "templates/box.twig"  with {type: 'warning'} %}
                {% block title %}Adminsitrar módulos{% endblock %}
                {% block content %}
                    {% include "dashboard/modules.twig" %}
                {% endblock %}
                {% block footer %}
                    <a class="pull-right" href="{{ this.getLink('GLFramework\\Modules\\Admin\\modules') }}">Adminsitrar módulos <i class="fa fa-arrow-circle-right"></i></a>
                    <div class="clearfix"></div>

                {% endblock %}
            {% endembed %}
            </div>

        </div>

        {% for controller in this.controllers %}

            <div class="col-md-4">

                <div class="wrapper">
                {% embed "templates/box.twig"  with {type: 'primary'} %}
                    {% block title %}{{ controller.title }}{% endblock %}
                    {% block content %}
                        {{ controller.getDashboardView() | raw }}
                    {% endblock %}
                    {% block footer %}
                        <a class="pull-right" href="{{ this.getLink(controller) }}">{{ controller.title }} <i class="fa fa-arrow-circle-right"></i></a>
                        <div class="clearfix"></div>
                    {% endblock %}
                {% endembed %}
                </div>
            </div>

        {% endfor %}

        <div class="col-md-4">
            {% embed "templates/box.twig" with {type: 'danger'} %}
                {% block title %}Informacion del sistema{% endblock %}
                {% block content %}
                    <table class="table">
                        <tr>
                            <th>Framework Version</th>
                            <td>{{ this.info.version }}</td>
                        </tr>
                        <tr>
                            <th>PHP</th>
                            <td>{{ this.info.php }}</td>
                        </tr>
                        <tr>
                            <th>Extensiones</th>
                            <td>{{ this.info.extensions }}</td>
                        </tr>
                        <tr>
                            <th>OS Version</th>
                            <td>{{ this.info.server }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><a href="?update">Actualizar</a></td>
                        </tr>
                    </table>
                {% endblock %}
                {% block footer %}
                    <a href="https://github.com/manusreload/GLFramework"><i class="fa fa-github"></i> GitHub</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}
<style>
    .dashboard .wrapper
    {
        min-height: 200px;
        margin-top: 0px;
        padding: 0px;
    }
</style>

{% endblock %}
