{% extends "templates/base.twig" %}
{#
 # Created by PhpStorm.
 # User: manus
 # Date: 25/02/16
 # Time: 11:00
 #}
{% block title %}Administracion - Usuarios{% endblock %}
{% block body %}
    <a href="/admin/modules" class="btn btn-default"><i class="fa fa-chevron-left"></i> Volver</a>
    <div class="row">
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Información básica
                {% endblock %}
                {% block content %}
                    <table class="table">
                        <tr>
                            <th>Titulo</th>
                            <td>{{ this.module.title }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ this.module.description }}</td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td><label class="label label-success">{{ this.module.version | default("-") }}</label></td>
                        </tr>
                        <tr>
                            <th>Ruta</th>
                            <td><code>{{ this.module.getDirectory() }}</code></td>
                        </tr>
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Ajustes
                {% endblock %}
                {% block content %}
                    <form method="post">
                        {% set module_config = this.getModuleConfiguration(mainconfig, this.module) %}
                        {% for setting in this.module.getModuleSettings() %}
                            {% set value = module_config[setting.key] | default( setting.default ) %}
                            <div class="form-group">
                                <label>{{ setting.key }} ({{ setting.type }})</label>
                                {% if setting.type == "boolean" %}
                                    <select class="form-control" name="settings[{{ setting.key }}]">
                                        <option value="1" {{ value=="1"?"selected":"" }}>TRUE</option>
                                        <option value="0" {{ value=="0"?"selected":"" }}>FALSE</option>
                                    </select>
                                {% endif %}
                                {% if setting.type == "string" %}
                                    <input class="form-control" type="text" name="settings[{{ setting.key }}]" value="{{ value }}">
                                {% endif %}
                                <small>{{ setting.description }}</small>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-default" name="save">Guardar</button>
                    </form>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
