{% extends "templates/base.twig" %}

{#
 # Created by PhpStorm.
 # User: mmunoz
 # Date: 13/06/17
 # Time: 11:53
 #
 #}
{% block title %}Sistema{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ this.getLink(this, {section: "home"}) }}" class="list-group-item">
                    Inicio
                </a>
                <a href="{{ this.getLink(this, {section: "database"}) }}" class="list-group-item">Database</a>
                <a href="{{ this.getLink(this, {section: "mail"}) }}" class="list-group-item">Mail</a>
                <a href="{{ this.getLink(this, {section: "vars"}) }}" class="list-group-item">Vars</a>
                <a href="{{ this.getLink(this, {section: "trans"}) }}" class="list-group-item">Translations</a>
                <a href="{{ this.getLink(this, {section: "info"}) }}" class="list-group-item">PHP Info</a>
            </div>
        </div>
        <div class="col-md-9">
            {% include this.subtemplate %}
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
