{% extends "templates/base.twig" %}
{# 
 # Created by PhpStorm.
 # User: manus
 # Date: 25/02/16
 # Time: 11:00
 #}
{% block title %}Administracion - Usuarios{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% embed "templates/box.twig" %}
            {% block title %}
                Listado de usuarios
            {% endblock %}
            {% block content %}
                <div class="pull-right">
                    <a href="{{ this.getLink(this, {id: "add"}) }}" class="btn btn-success">Nuevo usuario</a>
                </div>
                <div class="clearfix"></div>
                <br>
                <table class="table table-responsive">
                    <tr>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Privilegios</th>
                        <th>Administrador</th>
                    </tr>

                    {% for user in this.users_all %}
                        <tr>
                            <td><a href="{{ this.getLink(this, { id: user.id}) }}">{{ user.id }}</a></td>
                            <td>{{ user.user_name }}</td>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.privilegios }}</td>
                            <td>{% if user.admin %}<label class="label label-success">Admin</label>{% else %}<label class="label label-default">Usuario</label>{% endif %}</td>

                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
