{% extends "templates/base.twig" %}
{# 
 # Created by PhpStorm.
 # User: manus
 # Date: 25/04/16
 # Time: 10:55
 #}
{% block title %}Gestor Cron{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            {% embed "templates/box.twig" %}
                {% block title %}
                    Gestionar tareas programadas
                {% endblock %}
                {% block content %}
                    <a href="/admin" class="btn btn-default"><i class="fa fa-chevron-left"></i> Volver</a>
                    <div class="pull-right">
                        <a href="{{ this.getLink(this, {id: "add"}) }}" class="btn btn-success">Nueva Tarea</a>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    {% if this.time == 0 %}
                    <div class="alert alert-info">
                        <b>Ruta Para a침adir a cron:</b><br>
                        <code>* * * * * {{ this.system_user }} {{ this.manager.getScriptPath() }}</code><br>
                        Este mensaje desaparecer치 autom치ticamente cuando halla sido ejecutado correctamente.<br>
                        <a href="?try" class="btn btn-warning">Intentar a침adir</a>
                    </div>
                    {% else %}
                        <div class="alert alert-info">
                            Utl. Ejecucion: {{ this.time | date("d/m/Y H:i:s") }}
                        </div>
                    {% endif %}
                    <br>
                    <table class="table table-responsive">
                        <tr>
                            <th>#</th>
                            <th>Cron</th>
                            <th>Titulo</th>
                            <th>Funcion</th>
                            <th>Ult. Ejecucion</th>
                            <th>Activada</th>
                        </tr>

                        {% for cron in this.cron.get_all() %}
                            <tr>
                                <td><a href="{{ this.getLink(this, { id: cron.id}) }}">{{ cron.id }}</a></td>
                                <td>{{ cron.cron }}</td>
                                <td>{{ cron.title }}</td>
                                <td>{{ cron.function }}</td>
                                <td>{{ cron.last_run }}</td>
                                <td>
                                    {% if cron.enabled %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
                                    <a href="?remove={{ cron.id }}">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}{% endblock %}
